<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head>
        <title>The Vault</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <link rel="stylesheet" href="/styles/styles.css" type="text/css"/>
        <link rel="stylesheet" href="/styles/menu.css" type="text/css"/>
        <link rel="stylesheet" href="styles/productos.css" type="text/css"/>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:replace='~{layout/plantilla :: header}'/>

        <section th:fragment="botonesAgregar" class="product-containerCategoria">
           <div class="col-md-3">
                    <form method="POST" th:action="@{/pruebas/query1}" 
                          class="was-validated">
                        <div class="card">                            
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="precioInf">[[#{pruebas.precio.inferior}]]</label>
                                    <input type="number" class="form-control" 
                                           th:value="${precioInf}"
                                           th:name="precioInf" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="precioSup">[[#{pruebas.precio.superior}]]</label>
                                    <input type="number" class="form-control" 
                                           th:value="${precioSup}"
                                           th:name="precioSup" required="true"/>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-check"></i> [[#{pruebas.ampliadas}]]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>   
            <div class="product-container-wrapper">
                <div class="productCategoria"  th:if="${productos != null and !productos.empty}">
                     <div class="card" th:each="producto : ${productos}">
                         <div class="card-body">
                    <img src="https://media.cnn.com/api/v1/images/stellar/prod/230726053047-01-lionel-messi-goals-inter-miami-spt-intl.jpg?c=16x9&q=h_720,w_1280,c_fill" alt="Producto 1" class="product-imageCategoria" />
                    <div class="product-detailsCategoria">
                        <h3Categoria>Título del Producto 1</h3Categoria>
                        <pCategoria>Descripción del Producto 1.</pCategoria>
                        <pCategoria>Precio: $150</pCategoria>
                        <div class="buy-button-container">
                            <form>
                                <button class="btn btn-ligth" id="addCard" 
                                        name="addCard" onclick="agregarCarro(this.form)" 
                                        type="submit"><i class="fas fa-cart-plus"></i> Agregar al carrito
                                </button>
                            </form>
                                  <p class="card-text">[[${producto.detalle}]]</p>                            
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
                <div th:if="${productos == null or productos.empty}">
                    [[#{carrito.no_mostrar}]]</div>
           
                
                <!--línea de separación -->
                <hr class="separator"/>

                <div class="productCategoria">
                    <img src="https://media.cnn.com/api/v1/images/stellar/prod/230726053047-01-lionel-messi-goals-inter-miami-spt-intl.jpg?c=16x9&q=h_720,w_1280,c_fill" alt="Producto 1" class="product-imageCategoria" />
                    <div class="product-detailsCategoria">
                        <h3Categoria>Título del Producto 1</h3Categoria>
                        <pCategoria>Descripción del Producto 1.</pCategoria>
                        <pCategoria>Precio: $50</pCategoria>
                        <div class="buy-button-container">
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                </div>
                <!-- Agregar más productos aquí -->
            </div>
        </section>
    </body>
</html>