<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TheVault</title>
        
    </head>
    <body>
        <header th:replace='~{layout/plantilla :: header}'/>
        <section th:replace="~{layout/plantilla :: menuCategorias}"/>   
        <section th:replace="~{layout/plantilla :: slideIntro}"/> 
        <section th:replace="~{layout/plantilla :: aboutUs}"/> 
        <section th:replace="~{layout/plantilla :: ftyRec}"/> 
        <section th:replace="~{layout/plantilla :: popularCommunity}"/> 
        <section th:replace="~{layout/plantilla :: contactUs}"/> 
        
        <footer th:replace='~{layout/plantilla :: footer}'/>
    </body>
</html>