    body {
      margin: 0;
      padding: 0;
      background-color: #F2E4BB;
      font-family: Arial, sans-serif;
    }
    

    .container {
      background-color: white;
      padding: 20px;
      margin: 0 auto;
      width: 400px;
      margin-top: 100px;
      text-align: center;
  background-image: url("../static/images/cartas.jpg");
  background-size: cover;
    }

    .container h2 {
      margin-top: 0;
    }

    .bottom-container {
      margin-top: 20px;
      text-align: center;
    }

    .bottom-container .col {
      display: inline-block;
      margin-right: 10px;
    }
    
    
  

